<html>
    <head>
        <script type="text/javascript" src="../../../static/js/jquery-1.10.1.js"></script>
        <script type="text/javascript" src="../../../static/js/jscolor/jscolor.js"></script>
        <style type="text/css">
        a:link {
            color:#000000;
            text-decoration:underline;
        }
        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        </style>
        <script language="javascript">
        var startId=0;
        var totalRcd=0;
        var current=0;
        var endId=0
        function dbg(msg){
            $("#console").text(msg);
        }
       
        function emulateKeyDown(keycode){
            keyDown({which:lastArrowKey});
        }
        function nextjob(){
            keyDown({"which":NEXT_KEYCODE});
        }
        function prevjob(){
            keyDown({"which":PREV_KEYCODE});
        }
        PREV_KEYCODE=37
        NEXT_KEYCODE=39
        var lastArrowKey=NEXT_KEYCODE;
        function keyDown(e) { 
            var keycode = e.which; 
            lastArrowKey=keycode;
            var realkey = String.fromCharCode(e.which); 
            var t="keycode: " + keycode + " charcode: " + realkey;
            dbg(t);
            if(keycode==PREV_KEYCODE){ //prev
                current-=1;
                if(current<startId){current=startId}
                $("#idcur").text(current);
                showRcd(current);
            }else if(keycode==NEXT_KEYCODE){//next
                current+=1;
                if(current>endId){current=endId}
                $("#idcur").text(current);
                showRcd(current);
            }else {
                newstatus=""
                if(keycode==78){//N:null
                    newstatus="null"
                }else if(keycode==71){//G:get
                    newstatus="get"
                }else if(keycode==87){//W:
                    newstatus="watch"
                }
                if(newstatus.length>0)
                    modifyStatus(current,newstatus)
            }

            //alert("keycode: " + keycode + " charcode: " + realkey); 
        } 
        function shouldIngoreJob(job){
            for(var i in mIgnoreKeys){
                if(job.job.indexOf(mIgnoreKeys[i])>=0){
                }
            }
        }
        function isJobOk(job){
            var ignoresalaryArray=$("#idfiltersalary").val().split(",");
            for(i in ignoresalaryArray){
                if(job.salary==ignoresalaryArray[i]){
                    return false;
                }
            }
            return true;
        }
        function showRcd(id){
             var aj = $.ajax( { 
                url:id,
                type:'get',
                cache:'false',
                success:function(data){
                    if(data.msg =="true" ){    
                    // view("修改成功！");    
                    dbg("修改成功！");    
                    }else{    
                    //$("#content").text(unescape(data));
                    //Lesson:json: use eval convert string to json object,and  also change unicaode(\ue342 ...) to utf8
                    job=eval ("(" + data + ")"); 
                    $("#idsalary").html(job.salary);
                    if(!isJobOk(job)){
                        emulateKeyDown();
                        return;
                    }
                    $("#coname").html("<a href='"+job.courl+"' target='_blank' >"+job.coname+"<a/>");
                    $("#codesc").text(job.cd.replace(/\n/g,"    "));
                    $("#job").html("<a href='"+job.jobu+"' target='_blank' >"+job.job+"<a/>");
                    $("#jobdesc").html(job.jd.replace(/\n/g,"<br/>"));//use html() to show tags
                    $("#jstate").text(job.state)
                    $("#idjloc").text(job.local)
                    $("#idCompScore").text(" score["+job.compScore+"]")
                    totalRcd=job.jobsCnt
                    endId=startId+totalRcd;
                    $("#idend").text(":"+endId)
                    //testrn(job.jd)
                    } 
                },
                error:function(){
                    dbg("error");
                },

            }); 
            localStorage.lastIndex=id
       }
        document.onkeydown = keyDown;
         function modifyStatus(id,newstatus){
            postdata={
                status:newstatus,
            }
             var aj = $.ajax( { 
                url:"modify/"+current+"/",
                type:'post',
                cache:'false',
                data:postdata,
                success:function(data){
                    dbg("ok,data="+data) 
                    $("#jstate").text(newstatus)
                },
                error:function(){
                    dbg("error");
                },

            }); 
       }
      function testrn(str){
            alert(str)
       }
        $(document).ready(function(){
            startId={{start_id}}; //template variables
            totalRcd={{total_rcd}};
            if(typeof localStorage.lastIndex == "undefined"){ //Lesson js html5:localstorage judge undefined value
                current=startId
            }else{
                current=parseInt(localStorage.lastIndex);
            }
            if(typeof localStorage.bkgroundcolor != "undefined"){
                changeBkColor(localStorage.bkgroundcolor)
            }
            endId=startId+totalRcd;
            $("#idcur").text(current);
            $("#idstart").text(startId+":")
            $("#idend").text(":"+endId)
            $("#idtextareacur").hide()
            $("#idIgoreKeys").val(localStorage.ignoreKeys)
            //nextjob();
            //showRcd(1)
        });
        function changeIngoreKeys(){
            var keys=$("#idIgoreKeys").val()
            dbg("changeIngoreKeys keys="+keys)
            mIgnoreKeys=keys.split(" ")
            localStorage.ignoreKeys=keys
        }
        function test(){
            //dbg(unescape("{\u82e5\u9690\u82e5\u73b0}"))
            //dbg(unescape("\u5408\u80a5\u4e2d\u7ee7\u4fe1\u606f\u79d1\u6280\u6709\u9650\u516c\u53f8"))
            //dbg(unescape("Android\u8f6f\u4ef6\u5f00\u53d1\u5de5\u7a0b\u5e08"))
        }
        function submitres(){
            var check=confirm("submit data status to local db?")
            if(check){
              var aj = $.ajax( { 
                url:"submitstatus",
                type:'post',
                cache:'false',
                success:function(data){
                    localStorage.removeItem("lastIndex")
                },
                error:function(){
                    dbg("error");
                },

            }); 
               
            }
        }

        function showInput(){
            var t=$("#idcur").text()
            $("#idcur").hide()
            $("#idtextareacur").val(t)
            $("#idtextareacur").show()
        }
        function showCur(){
            var t=$("#idtextareacur").val()
            $("#idcur").show()
            $("#idtextareacur").hide()
            $("#idcur").text(t)
            current=Number(t)
            showRcd(current);
        }
        function changeBkColor(color){
            $('body').css('background-color','#'+color)
            localStorage.bkgroundcolor=color
        }
        </script>
        
    </head>
    
    <body  class='bodybkgrd'>
        <table>
            <tr>
                <td><span id='idstart'></span><input id='idtextareacur' value='99' type='text' onchange='showCur()' ><span id='idcur' onclick='showInput()'></span><span id='idend'></span></td>
                <td><input type='button' value='submit' onclick='submitres()'></input></td>
                <td><a href="/jobfind/querry">querry jobs</a></td>
            </tr>
        </table>
        <!-- http://jscolor.com/try.php#onchange  -->
        <input id='idcolorpicker' class='color'  onchange="changeBkColor(this.color)">
        <input type='text' id='idIgoreKeys' onchange="changeIngoreKeys()">
        薪资过滤
        <input type='text' id='idfiltersalary' value="15000-19999/月" ></input>
        <button onclick='prevjob()'>prevjob</button>
        <button onclick='nextjob()'>nextjob</button>

        <!--
        <button onclick='test()'>test2</button>
        -->
        <p></p>
        <p></p>
        <p></p>
            <div style="width:100%;border:1px solid red;" class="clearfix">
            <div id='idivJob' style="width:60%;float:left;">
                <table><tr><td id='jstate'></td><td id='job'></td><td id='idjloc'></td></tr></table>
                <table><tr><td id='coname'></td><td id='idCompScore'></td></tr></table>
                <table><tr><td id='idsalary'></td><td id='idundef'></td></tr></table>
                <p id='jobdesc'></p>
                <!--
                <p id='job'></p>
                <p id='jstate'></p>
                -->
                <p id="help">
                    controle with keyboard:<br> 
                    =》:next 《=:prev ; click the index and input number to jump<br>
                    n:set null ; w:set watch status ; g:set get status<br><br>
                    after process,click submit button to submit status to local db<br>
                    <b>note</b>:that will save the current viewing jobs to local db;
                    <br>薪资过滤多个时，使用,分隔。
                </p>
                <p id="console"></p>
                <p id='content' ></p>
            </div>
            <div id='idivIgnoredJob' style="width:40%;float:left;border:1px;">
                <p id='codesc'></p>
                <p>ignored jobs</p>
                <img src="https://login.51job.com/ajax/verifycode.php?type=33&from_domain=i&t=941837115"></img>
            </div>
        </div>
    </body>
</html>
