<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
  
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">

  
  <script type="text/javascript" src="../../../static/js/jquery-1.10.1.js"></script>
  
  <script language="javascript">
        function dbg(msg){
            $("#console").html(msg+"<br>"+$("#console").html());
        }
        function stopquerry(){
            var postdata={
                searchkey:"STOP",
            }
            dbg("stop...")
             var aj = $.ajax( { 
                type:'post',
                cache:'false',
                data:postdata,
                success:function(data){
		            data = JSON.parse(data);
                    dbg("stop() post res="+data.code)
                    //$("#coname").text(job.coname);
                },
                error:function(){
                    dbg("stop error");
                },

            }); 
        } 
        
        function Cmd(cmdName){
            this.cmdName=cmdName
        }
        Cmd.prototype={
            showElement:function(){
                dbg("Cmd["+this.cmdName+"]:showElement")
            },
            hideElement:function(){
            },
            getQuerryJson:function(){
            },
        }
        function CmdQuerry(cmdName){
            Cmd.call(this,cmdName)
        }
        CmdQuerry.prototype=new Cmd()
        CmdQuerry.prototype.getQuerryJson=function(){
        }


        function querry(){
        var filterkeysArr=new Array()
        var sechtype=$("#idselKeytype").val()
        var keywordtype=0 //valid value: 0(search with company name) 2(search with full text)
        var serverActionType=0 //valid value:0(get jobs to job db) 1(get company score to compscore db)
        if(sechtype==0 || sechtype==200){//querry with company name || funs company name
            if(sechtype==0){
                $("#idsearchkey").val($("#idselCompanys").val())
            }else{
                $("#idsearchkey").val($("#idselScoreCompanys").val().split(':')[0])
            }
            filterkeysArr=mHistoryOks.keysArr
        }else if(sechtype==2 || sechtype==100 || sechtype==300){
        //querry with full text || collection company funs || get high funs score companys
            keywordtype=2
            serverActionType=1
            if($("#idsearchkey").val().length<2){
                dbg("Input search key please!")
                return
            }
            filterkeysArr.push($("#idsearchkey").val())
        }
        var extraCmd="NO_CMD"
        if(sechtype==300){
            extraCmd="LIST_HIGH_COMPANY"
        }
            var postdata={
                searchkey:$("#idsearchkey").val(),
                workarea:getJobArea(),
                publishday:$("#idpublishday").val(),
                keywordtype:keywordtype,
                filterkeys:filterkeysArr.join(","),
                extracmd:extraCmd,
                serverActionType:serverActionType
            }
            if($("#idselKeytype").val()==2){//querry with full text
                mHistoryOks.addKey(postdata.searchkey)
            }
            dbg("loading...")
             var aj = $.ajax( { 
                type:'post',
                cache:'false',
                data:postdata,
                success:function(data){
		            data = JSON.parse(data);
                    dbg("querry post res="+data.code)
                    //$("#coname").text(job.coname);
                    if(data.code=="STOP"){
                        return
                    }else if(data.code=="LIST_HIGH_COMPANY"){
                        //dbg("companys="+data.res)
                        //python pass a list object,here data.res is a array already
                        initSel("#idselScoreCompanys",data.res)
                        dbg("companys num="+$("#idselScoreCompanys option").length)
                        return
                    }
                if(sechtype==0 || sechtype==200){//querry with company name || funs company name
                    var idselcmp=(sechtype==0?"#idselCompanys":"#idselScoreCompanys")
                    var curIndex=$(idselcmp).get(0).selectedIndex
                    var maxIndex=$(idselcmp +' option').length-1
                    dbg("curIndex="+curIndex+",maxIndex="+maxIndex)
                    if(curIndex<maxIndex){//querry company one by one
                        curIndex++
                        $(idselcmp).get(0).selectedIndex=curIndex
                        querry()
                    }
                }

                },
                error:function(){
                    dbg("error");
                },

            }); 
       }
        function oncompanychanged(){
        }
        function initSel(idOption,keysArr){
            $(idOption).empty()
            for( var key in keysArr){
                $(idOption).append("<option>"+keysArr[key]+"</option>")
            }
        }
       function HistoryOptionKeys(idOption){
            this.idOption=idOption
            this.keysArr=new Array
       }
       HistoryOptionKeys.prototype={
        initLs:function(){
             if(typeof localStorage.lastSearchKeys != "undefined"){
                var lastSearchKeys=new Array()
                lastSearchKeys=JSON.parse(localStorage.lastSearchKeys);
                dbg("lastSearchKeys="+lastSearchKeys)
                this.init(lastSearchKeys)
            }
       
        },
        init:function(keysArr){
            this.keysArr=keysArr
                for( var key in keysArr){
                    $(this.idOption).append("<option>"+keysArr[key]+"</option>")
                }

       },
       storyLs:function(){
            localStorage.lastSearchKeys=JSON.stringify(this.keysArr)
       },
        addKey:function(key,initflag){
            if($.inArray(key,this.keysArr)==-1){
                $(this.idOption).append("<option>"+key+"</option>")
                dbg("select len="+$(this.idOption).length)
                this.keysArr.push(key)
                this.storyLs()
            }
       },
         rmCurKey:function(){
         
            this.keysArr.pop($(this.idOption).val())
            $(this.idOption).get(0).options.remove($(this.idOption).get(0).selectedIndex)
                this.storyLs()
       },
       }

        var mHistoryOks=new HistoryOptionKeys("#idhistorykey")

        $(document).ready(function(){
            startId={{start_id}}; //template variables
            totalRcd={{total_rcd}};
            mHistoryOks.initLs()
        });
        function test(){
            //dbg(unescape("{\u82e5\u9690\u82e5\u73b0}"))
            //dbg(unescape("\u5408\u80a5\u4e2d\u7ee7\u4fe1\u606f\u79d1\u6280\u6709\u9650\u516c\u53f8"))
            //dbg(unescape("Android\u8f6f\u4ef6\u5f00\u53d1\u5de5\u7a0b\u5e08"))
            //var checkIndex=$("#idselCompanys ").get(0).selectedIndex
            //var maxIndex=$('#idselCompanys option').length //$("#idselCompanys option:last").attr("index")
            //            $("#idselCompanys ").get(0).selectedIndex=1
            //delete select item from options
            //dbg("sel index="+$("#idhistorykey").get(0).selectedIndex)
            //$("#idhistorykey").get(0).options.remove($("#idhistorykey").get(0).selectedIndex)
            //mHistoryOks.rmCurKey()
                 //       cmparr=new Array
                        //cmparr=JSON.parse("华为技术有限公司:125724,欧莱雅（中国）有限公司:71617");
                 //       cmparr="HTC:125724,TCL:71617".split(',')
                 //       initSel("#idselScoreCompanys",cmparr)
    
            //dbg($("#idselScoreCompanys").val().split(':')[0]

            c=new CmdQuerry("cmd_q")
            c.showElement()

        }


        function getJobArea(){
           var areas= new Array()
           //$('input[name=test]').attr('checked',true);
           $("input[name='idJobArea']").each(function() {
                if($(this).is(':checked')) //Lesson jquerry:judge checkbox whether selected
                    areas.push($(this).attr('value'))
           })
            return areas.join(",")
        }

        function keytypechanged(){
            $("#idsearchkey").val("")
            var val=$("#idselKeytype").val()
            if(val==0){
                dbg("search jobs from companys,ignore those jobs which do not contain history keys")
            }else if(val==2){
                dbg("search jobs who contain the pointed key word")
            }else if(val==300){
                dbg("querry companys from db who have higher score point by the text")
            }else if(val==100){
                dbg("scan the companys by the pointed key word,and record its fans number to db")
            }else if(val==200){
                dbg("search jobs from companys,ignore those jobs which do not contain history keys<br>   &emsp;the companys are who have higher score point by the text")
            }
        }

        </script>
  <title>querry</title>

  
</head><body class="bodybkgrd">
<br>

工作地点
<input name='idJobArea' type='checkbox' value="020000" checked="ture">上海</input>
<input name='idJobArea' type='checkbox' value="040000">深圳</input>
<input name='idJobArea' type='checkbox' value="030200">广州</input>
<input name='idJobArea' type='checkbox' value="01">珠三角</input>
<input name='idJobArea' type='checkbox' value="000000">全国</input>
 <button onclick='test()' >test</button> 

<br>

发布日期
<select id="idpublishday">

<option value="1">近一天</option>
<option value="2">近两天</option>
<option value="3">近三天</option>
<option value="4">近一周</option>
</select>

<br>

<select id='idselKeytype' onchange='keytypechanged()'>
<option value='2'>以全文查询
<option value='0'>以公司名查询
<option value='100'>扫描公司粉丝
<option value='300'>查询本地粉丝多的公司
<option value='200'>以公司粉丝排名查询
</select>
<textarea cols="20" rows="1" id="idsearchkey"></textarea>
history<select id='idhistorykey' onchange="$('#idsearchkey').val($('#idhistorykey').val())" ><select>


<select id='idselCompanys' onchange='oncompanychanged()' >
<option>IBM China
<option>HTC
<option>华为技术
<option>中兴通讯
<option>腾讯计算机
<option>TCL
<option>小米科技
<option>阿里巴巴
<option>QUALCOMM
<option>联想
<option>英特尔
<option>惠普
<option>UC优视
<option>京东金融集团
<option>三星电子
<option>思科系统
<option>英伟达
<option>AMD
<option>国家仪器
</select>

<select id="idselScoreCompanys"></select>

<br>
<button onclick="querry()">查询</button>
<button onclick="stopquerry()">停止</button>
<br>


<p><a href="/jobfind/index">View getted jobs</a></p>
<p><a href="/jobfind/viewljobs">View local jobs</a></p>

<br>
<p id='console'></p>
</body></html>
