<html>
    <head>
        <script type="text/javascript" src="../../../static/js/jquery-1.10.1.js"></script>
        <script type="text/javascript" src="../../../static/js/jscolor/jscolor.js"></script>
        <script language="javascript">
        </script>
    </head>
    
    <body>
        <table id='idtabjobs'>
            {% for job in joblist %}
            <tr id='{{job.id}}'>
                <td><a href='{{ job.jobu }}' >{{ job.job }}</a></td>
                <td><a href='{{job.courl}}'>{{ job.coname }}</a></td>
                <td>{{ job.local }}</td>
                <td>{{ job.state }}</td>
                <td>{{ job.update }}</td>
                <td>{{ job.sendate }}</td>
                <td>{{ job.sendcnt }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
