<html>
    <head>
        <style type="text/css">
        .hilight
        {
        background-color: #cccc00;
        }
        </style>
        <script type="text/javascript" src="../../../static/js/jquery-1.10.1.js"></script>
        <script type="text/javascript" src="../../../static/js/jscolor/jscolor.js"></script>
        <script language="javascript">
            function showJobs(){
                $("#idstatus").val("get")
                //$("#idtabjobs tr:gt(0)").remove();
            }
            var lastStatus=""
            var lastLocal=""
            function querryJobs(){
                status=$("#idstatus").find("option:selected").text()
                local=$("#idlocal").find("option:selected").text()
                lastStatus=status
                lastLocal=local
                dbg("querryJobs local="+local+",status="+status)
                postdata={
                    cmd:"SHOW_JOBS",
                    local:local,
                    status:status
                }
             var aj = $.ajax( { 
                type:'post',
                cache:'false',
                data:postdata,
                success:function(data){
                   $("#idivtable").html(data)
                   $("#idstatus").val(lastStatus)
                   $("#idlocal").val(lastLocal)
                },
                error:function(){
                    dbg("stop error");
                },

            }); 

            }

            function search_company(){
                coname=$("#idsearchkey").val()
                //dbg("querryJobs c="+coname)
                postdata={
                    cmd:"SEARCH_COMP",
                    coname:coname
                }
             var aj = $.ajax( { 
                type:'post',
                cache:'false',
                data:postdata,
                success:function(data){
                   $("#idivtable").html(data)
                   //$("#idstatus").val(lastStatus)
                   //$("#idlocal").val(lastLocal)
                },
                error:function(){
                    dbg("stop error");
                },

            }); 

            }

            var stopUpdate=false
            function stopUpdatejob(){
                stopUpdate=true
            }
            function updateJob(tr){
            if(stopUpdate){
                dbg("user stoped,exit")
                return
            }
            var postdata={
                cmd:"UPDATE_JOB",
                id:tr.attr("id")
            }
            if(postdata.id.length<1){
                return
            }
            tr.css("background-color","#cccc00")
            var aj = $.ajax( { 
                type:'post',
                cache:'false',
                data:postdata,
                success:function(data){
                    data=JSON.parse(data)
                    if(data.res=="updated"){
                        tr.css("background-color","#99D3FF")
                        $("#udate"+postdata.id).text(data.newDate)
                    }else{
                        tr.css("background-color","#ffffff")
                    }
                    var trn=tr.next("tr")
                    if(trn){
                        updateJob(trn)
                    }
                },
                error:function(){
                    tr.css("background-color","#ff0000")
                    dbg("stop error");
                },

            }); 

            }
            function updateSendDate(jobid){
                d = new Date()
                m = d.getMonth()+1 
                ds = m<9 ? "0"+m : ""+m
                ds = d.getDate()<9 ? ds+"0"+d.getDate() : ds+""+d.getDate()
                ds = (d.getFullYear()+"").substr(2,2)+ds
                postdata={
                    cmd:"UPDATE_SENDDATA",
                    id:jobid,
                    sendate:ds
                }
             var aj = $.ajax( { 
                type:'post',
                cache:'false',
                data:postdata,
                success:function(data){
                   //dbg(data+",ds="+ds)
                   rs=JSON.parse(data)
                   //dbg("got #trcnt"+jobid)
                   $("#trcnt"+jobid).text(rs.sendcnt+"")
                   $("#sendate"+jobid).text(ds)
                },
                error:function(){
                    dbg("update error");
                },

            }); 

            }

            var lastClickedTrid=-1
            function changeTrBackColor(trid){
                if (lastClickedTrid!=-1){
                    var tr=$("#"+lastClickedTrid)
                    tr.css("background-color","#ffffff")
                    tr.css("font-weight","")
                }
                var tr=$("#"+trid)
                tr.css("background-color","#cccc00")
                tr.css("font-weight","bold")
                lastClickedTrid=trid
            }
            function updateJobs(){
                var tr=$("#idtabjobs tr:gt(0):eq(0) ")
                stopUpdate=false
                updateJob(tr)
            }
            function dbg(msg){
                $("#log").text($("#log").text()+"||||"+msg)
            }

        </script>
    </head>
    
    <body>
        <p id='log'></p>
        <a href="/jobfind/querry">go querry</a>
        <button onclick='updateJobs()'>update jobs</button>
        <button onclick='stopUpdatejob()'>stop update jobs</button>
        <button onclick='search_company()'>search company</button>
        <input type='text' id='idsearchkey'>
        <div id='idivtable'>
        {% include 'jobfind/viewljobs_table.html' %} <!-- Lesson django template: keep the same dir for included html with in the views.py , otherwith error 500 happend -->
        </div>
    </body>
</html>
